# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.DataStructuresLibrary.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Camen\Documents\_gameDev\_Cpp\ComputerScience\DataStructures\DataStructuresLibrary\.idea\.idea.DataStructuresLibrary.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
